.img-fluid {
    max-height: 300px;
    object-fit: cover;
  }
  
  .badge {
    font-size: 1rem;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  button {
    border-radius: 10px;
  }
  