.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 20px;
    background-color: #f8f9fa;
    overflow-y: auto;
  }
  
  .sidebar .nav-link {
    color: #495057;
    font-weight: bold;
  }
  
  .sidebar .nav-link:hover {
    background-color: #e9ecef;
    border-radius: 5px;
  }
  