.sidebar-link {
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}

.sidebar-link:hover {
  background-color: #e3f2fd; 
  border-left: 4px solid #42a5f5; 
  color: #1976d2 !important; 
}

.sidebar-link:active {
  background-color: #bbdefb; 
  border-left: 4px solid #1e88e5; 
}
